<html>
    <head>
        <title>UPN-Universidad Privada del norte</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="upnlo.png">
        <link rel="stylesheet" href="estilos_principal.css"/>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">UPN</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Nostros</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Agenda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Servicios</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Cursos
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" th:href="#" target="_blank">Ingeniria Industrial</a></li>
                                    <li><a class="dropdown-item" th:href="@{/sistem}" target="_blank">Ingeniria de Sistemas</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" th:href="#" target="_blank">Derecho</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Ingrese texto" aria-label="Search">
                            <button class="btn btn-success" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <hr style="position: relative; top: 220px"  >
        <!-- Carousel Imagenes -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="bannerupn1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="bannerupn2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="bannerupn3.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="bannerupn4.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="bannerupn5.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="bannerupn6.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br><!-- comment -->
        <div class="container">
            <div class="row">
                <div class="col order-1">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Información
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>FORMAMOS LA GENERACIÓN QUE YA ESTÁ CAMBIANDO EL MUNDO</strong><br> Con una idea clara desde 1994, queremos seguir formando 
                        profesionales dueños de su destino cumpliendo nuestro compromiso con la educación, el desarrollo social y la formación integral. Nuestros valores se ven 
                        reflejados en las bases de nuestra institución, así como en sus principales autoridades y nuestro modelo educativo.
                        Somos parte de Laureate International Universities. Una red de instituciones de educación superior con importante presencia en Latinoamérica y 
                        reconocida globalmente por ser una entidad experta en gestión educacional. </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Sedes
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                            <ol>
                                <li>Sede Lima - San Juan de Lurigancho.</li>
                                <li>Sede Lima - Breña.</li>
                                <li>Sede Lima - Los Olivos.</li>
                                <li>Sede Cajamarca.</li>
                                <li>Sede Chorrillos.</li><!-- <li>Sede Cajamarca.</li> -->
                                <li>Sede Trujillo.</li>
                            </ol>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Autoridades
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                            <ol>
                                <li>Jose Nicanor Gonzales Quijano (Rector)</li>
                                <li>Gustavo Kato Ishizawa (Vicerrector)</li>
                                <li>Alex Michael Rueda Borrero (Secretario General)</li>
                                <li>Augusto Felipe Cáceres Rosell (Decano de la Facultad de Negocios)</li>
                                <li>Patricia L. Sánchez Urrego (Decana de la Facultad de Comunicaciones)</li><!-- <li>Sede Cajamarca.</li> -->
                                <li>José Ignacio Pacheco Díaz (Decano de la Facultad de Arquitectura y Diseño)</li>
                                <li>Alberto Villanueva Eslava (Decano de la Facultad de Derecho)</li>
                            </ol>                    
                    </div>
                  </div>
                </div>
             </div>
            </div>
          </div>      
       </div>
        <br>
        <!-- Cards -->
    <center>
            <div class="row">
                
                <center><h3><br>NOTICIAS</h3><br><br></center>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img src="card1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">06 SEP, 2022</p>
                            <h5 class="card-text">Somos la universidad peruana con más premios en Concurso Internacional de Inventos KIWIE...</h5>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Leer
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Martes 06 Sep, 2022</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p> 
                                            Nuestra delegación de investigadoras peruanas obtuvo 7 medallas de oro, 6 de plata y 4 de bronce en la Exposición Internacional de 
                                            Inventos de Mujeres de Corea KIWIE 2022, un prestigioso concurso que congregó a participantes de 30 países.
                                            Comprometidos con fomentar la participación de la mujer en la investigación científica, 
                                            contamos con la presencia de 17 investigadoras, entre docentes, estudiantes de sexto ciclo de arquitectura, de posgrado y egresadas, 
                                            que propusieron soluciones para el medio ambiente, salud, agroindustria, entre otros temas.
                                            “Es importante el papel que cumple la mujer peruana para el desarrollo científico, tecnológico y 
                                            sostenible del país. Desde UPN incentivamos la investigación formativa de nuestros estudiantes para la generación de nuevos conocimientos 
                                            e inventos que ayuden a la sociedad”, señaló Ruth Manzanares Grados, docente investigadora de UPN.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img src="card2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">02 SEP, 2022</p>
                            <h5 class="card-text">UPN mantiene por cuarto año consecutivo su Convenio Internacional con CNN</h5>
                            
                            <!-- Button trigger modal -->
                            <div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModa2">
                                Leer
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModa2" tabindex="-1" aria-labelledby="exampleModalLabe2" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabe2">Viernes 02 Sep, 2022</h5>
                                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Somos la única universidad peruana en mantener una alianza con la cadena informativa CNN para la 
                                                realización de capacitaciones exclusivas con expertos en periodismo.
                                               Un equipo de periodistas de la cadena CNN capacitó a 21 estudiantes de la Facultad de Comunicaciones en
                                               técnicas de periodismo móvil, métodos, herramientas y recomendaciones para crear contenidos de valor en plataformas digitales.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img src="card3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">31 AGO, 2022</p>
                            <h5 class="card-text">Docente UPN presenta su primera novela, obra que combina ficción y periodismo para recrear la...</h5>
                             <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModa3">
                                Leer
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModa3" tabindex="-1" aria-labelledby="exampleModalLabe3" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabe3">Miércoles 31 Ago, 2022</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                               Nuestro docente Omar Aliaga publicó su primera novela “Los hombres que mataron la primavera”, 
                                               obra que combina ficción y periodismo para narrar la violencia y corrupción que sucede en la ciudad de 
                                               Trujillo en los últimos años. 
                                            </p><br>
                                            <p>
                                                “Los hombres que mataron la primavera” narra la relación de dos jóvenes periodistas que en su camino por conocer 
                                                más sobre los crímenes sucedidos en Trujillo, luchan contra la corrupción política y descubren el mundo de la prostitución que acontece en la ciudad.
                                            </p><br>
                                            <p>
                                                El escritor explicó que se inspiró en la realidad de los recientes años en la ciudad primaveral. “Como periodista capté muchos hechos reales de violencia y corrupción acontecidos en Trujillo,
                                                que sirvió de inspiración para escribir una novela de casi 400 páginas de extensión”, comentó el docente de comunicación y periodismo.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <center><h3><br>EVENTOS</h3><br><br></center>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img src="card4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">24 SEP</p>
                            <h5 class="card-text">Pregúntale a tu médico</h5>
                             <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModa4">
                                Participar
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModa4" tabindex="-1" aria-labelledby="exampleModalLabe4" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabe4">REGISTRATE</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="mb-3">
                                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más..</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                                </div>
                                                <div class="mb-3 form-check">
                                                    <p>
                                                       ¡Inscríbete, ya! Aprende a cuidar tu salud con nuestros expertos en salud. Participa de los webinars online gratuitos de Pregúntale a tu médico.
                                                    </p>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Enviar</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img src="card5.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">13 SEP</p>
                            <h5 class="card-text">OPEN DAY</h5>
                             <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModa5">
                                Participar
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModa5" tabindex="-1" aria-labelledby="exampleModalLabe5" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabe5">REGISTRATE</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="mb-3">
                                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más..</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                                </div>
                                                <div class="mb-3 form-check">
                                                    <p>
                                                        ¡Ven y descubre las carreras que tenemos para potenciar tu talento! Recorre nuestros campus en el Open Day y conoce UPN. 
                                                    </p>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Enviar</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img src="card6.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">13 SEP</p>
                            <h5 class="card-text">Habla Martes</h5>
                             <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModa6">
                                Participar
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModa6" tabindex="-1" aria-labelledby="exampleModalLabe6" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabe6">REGISTRATE</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="mb-3">
                                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más..</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                                </div>
                                                <div class="mb-3 form-check">
                                                    <p>
                                                        Aprende y despeja tus dudas sobre temas como gestión emocional, salud mental, equidad y más.  
                                                    </p>
                                                    <p>
                                                        A través de nuestro ciclo de Webinars Habla Martes queremos facilitarte las herramientas 
                                                        necesarias para que durante tu permanencia en UPN tu desarrollo personal, social y académico sea óptimo.
                                                    </p>
                          
                                                </div>
                                                <button type="submit" class="btn btn-primary">Enviar</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </center>  
    </body>
</html>
